# app stuff
*.zip
*.csv
log/
workspace/

# composer files
vendor/
composer.lock
composer.phar

# config files
config/mysql.php
config/redis.php
config/pdo.php

# bower stuff
public/js/libs
bower_components

# dev scripts (may contain credentials/config)
update_dev_db

# we're using npm and node
node_modules

# don't track sass dependencies
templates/sass/lib

# don't track compiled css from sass, cache files
.sass-cache
public/style.css.map
public/style.css

