# app stuff
*.zip
*.csv
*.sql
log/
workspace/

# composer files
vendor/
composer.lock
composer.phar

# config files
config/mysql.php
config/redis.php
config/pdo.php

# dev scripts (may contain credentials/config)
update_dev_db

# exclude toolchain stuff
node_modules
bower_components
.sass-cache

# don't track dev/uncompiled dependencies
node_modules
templates/js/lib/*
templates/sass/lib/*

# don't track compiled js/css
public/main.js
public/style.css.map
public/style.css
public/require.js
public/src
public/icon-fullscreen*
public/images/*
