<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>divvystat.us</title>
    <meta name='title' content='divvystat.us' />
    <meta name='description' content='an interactive map-based application for presentation and metrics of usage and rebalancing performance of the divvy bike sharing system in Chicago, IL' />

    <!-- google site verification -->
    <meta name="google-site-verification" content="Ipj3WqrWcfGl07IwDnJjFFs3tMtVlSyIinGUmw02-cc" />

    <!-- viewport -->
    <meta name='viewport' content='initial-scale=1.00, maximum-scale=1.00, user-scalable=no' />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- font (via google) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css' />

    <!-- javascript -->
    <script data-main="/main.js" src="/require.js"></script>

    <!-- favicons -->
    <link rel="shortcut icon" href="/divvystat-icon.ico"/>
    <link rel="icon" href="/divvystat-icon.ico"/>
    <link rel="apple-touch-icon" href="/divvystat-icon.png">
    <link rel="image_src" href="/thumbnail.png"/>

    <!-- mapbox stylesheet -->
    <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.1/mapbox.css" rel="stylesheet" />

    <!-- stylesheet -->
    <link href='/style.css' rel='stylesheet' type='text/css'>

</head>


<body>

    <div class="wrap">
        <div class="map" id="map">
        </div>

        <div class="content">
            <div class="copy">
                <p>The line graph on each station popup shows the number of bikes
                available at a station over the previous 72 hours.  Data points are omitted
                when the count doesn't change, creating an effect that draws attention to
                periods of higher use.</p>
            </div>

            <div class="column">
                <p>The bar graph on each station popup shows the average usage per day
                of the week in the last 30 days.  Usage is measured as the number of bikes
                removed from a station throughout the day.  This metric is an approximate
                derrived from data collected.</p>
            </div>
        </div>

        <div class="footer">
            <p>This application was originally created for the
            <a href="http://divvybikes.com/datachallenge">Divvy Data Challenge</a>
            by <a href="http://vicg4rcia.com">Vic Garcia</a>.</p>
            <p>The source code is on available on
            <a href="http://github.com/vicgarcia/divvystat">GitHub</a>.</p>
        </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90834172-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>

</html>
