@import "lib/bourbon/bourbon";
@import "lib/neat/neat";


$font-stack: 'Maven Pro', sans-serif;

$widescreen: new-breakpoint(min-width 1000px);
$widescreen-background-color: #DDE2E3;
$default-background-color: #ffffff;


body {
    min-width: 800px;

    font-family: $font-stack;
    font-color: #333;

    background-color: $default-background-color;
    @include media($widescreen) {
        background-color: $widescreen-background-color;
    }
}

a, a:hover { color: #333; }

p {
    line-height: 1.4em;
    font-size: 1.2em;
}

#wrap {
    margin: 10px auto 40px auto;
    background-color: $default-background-color;
    width: 98%;

    @include media($widescreen) {
        width: 85%;
        padding: 20px 20px 40px 20px;
    }
}

#map {
    height: 600px;
}

#header {
    margin: 0;
    background-color: #00A7E2;
}

#header h1 {
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 1.75em;
}


/* style for marker popups */

.markerBox {
    width: 260px;
    margin-bottom: 20px;

    h2 { margin: 0; padding: 0; }
    h4 { margin: 3px 0 9px 3px; padding: 0; }

    .markerTimeline {
        height: 120px;
        width: 260px;
        margin-top: -10px;
        margin-bottom: 5px;
        clear: both;
    }

    .markerGraph {
        height: 120px;
        width: 260px;
        margin-top: -10px;
        margin-bottom: 0;
        clear: both;
    }

    .graphNote {
        margin-bottom: 0px;
        margin-right: 20px;
        font-size: 1em;
        text-align: right;
    }
}

/* style for outage charts */

#outage-line {
    height: 220px;
    margin-top: -10px;
}

#outage-bar {
    height: 220px;
    margin-top: -10px;
}

/* content formatting (below map) */
#content {
    width: 100%;
    margin: auto;
    padding: 0;
}

#footer {
    margin: 0;
    background-color: #3DB7E4;
}

#footer h1 {
    padding: 5px;
    color: white;
}

#content-column-1 {
    width: 46%;
    margin: 0 2% 0 2%;
    float: left;
}

#content-column-2 {
    width: 46%;
    margin: 0 2% 0 2%;
    float: left;
}

.clear {
    clear: both;
}

