<?php

# configure session cookie middleware

return array(
    'expires'      => '20 minutes',
    'path'         => '/',
    'domain'       => '',
    'secure'       => false,
    'httponly'     => false,
    'name'         => 'slim',
    'secret'       => 'change-this-secret',
    'cipher'       => MCRYPT_RIJNDAEL_256,
    'cipher_mode'  => MCRYPT_MODE_CBC
);

?>
